# created by virtualenv automatically
CrashLog.txt
loadLog.txt
hotkeys_to_MD.exe
hotkeys_to_MD.py
hotkeys_to_MD.spec
cm.bat
cm2.bat
project.sublime-project
project.sublime-workspace
pyvenv.cfg
run.sh
RWE+.exe
RWE+_linux_changes.zip
RWE+_linux_release.zip
RWE+_win_changes.zip
RWE+_win_release.zip
RWE+.exe.spec
RWEplus.run.xml
/files/recentProjects.json

/drizzle/
/drizzle_linux/
/LevelEditorProjects/
/build/
/venv/
/Lib/
/Scripts/
/.idea/
/drizzle_solar/
